body {
  background-color: lightslategray;
 
}
.h{
    font-size: 4em;
    margin-top: 0;
    text-align: center;
    align-items: center;
    /* border: 2px solid red; */

}
.container {
  background-color: palegoldenrod;
  display: flex;
  width: 80vw;
  height: 90vh;
  margin: 2.5% auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  align-content: center;
}
.class {
  font-size: 30px;
  text-transform: uppercase;
}
button {
  background-color: rgb(230, 160, 166);
  font-size: 30px;
  color: 2px solid red;
  padding: 20px 35px;
  border-radius: 15px;

  text-transform: uppercase;
}
p {
  font-weight: bold;
  text-transform: uppercase;
}
